 <div class="user-details">
  <h1> About </h1>
  <!-- Description start -->
  <p>I love to understand things clearly, especially things which work towards solving complex problems. The problem spaces of my interest are Mathematics in general and Computer Science.</p>
  <p>I work as <span class="uncool-link"><b>Data Scientist</b></span> at Netcore. I ventured into this field of Data Science after some brief overview at a tech meetup. That abstract idea of making machines learn from data had fascinated me. Ever since then I have overwhelmed myself with many books, courses and projects to get a deep understanding of the fundamentals, theory and practicality of this field, good enough to engineer some powerful implementations in multiple domains like NLP, Computer Vision etc.</p>
  <p>Professionally I am a <span class="about-description-highlight">Computer Engineer</span>, I keep myself updated on the nuances and discoveries in my field by either going through blogs, online courses or hands-on projects. I like to read books that teach, basically anything that can positively impact my skills.</p>
  <p>I stay close to the community and also keep tabs with the pace at which it is evolving.</p>
  <!-- Description End -->
  <p><span class="about-email-tip"><span class="uncool-link">Email</span> <b>pratik.deoolwadikar@gmail.com</b></span></br><span class="about-email-tip"><span class="uncool-link">Phone</span> <b>+91-9769118579</b></span></p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p>Python, Java, C++, JavaScript, C, HTML/CSS, C#, PHP & MySQL etc.</p>
    </div>
    <div class="tech">
      <h2>Frameworks/Envs</h2>
      <img class="about-envs-tf" src="{{ "/assets/img/Tensorflow_logo.svg" | prepend: site.baseurl }}"/>
      <img class="about-envs-tf" src="{{ "/assets/img/pytorch_logo_s.svg" | prepend: site.baseurl }}"/>
      <img class="about-envs-tf" src="{{ "/assets/img/keras_logo_s.svg" | prepend: site.baseurl }}"/>
      <i class="devicon-android-plain-wordmark colored"></i>
      <!--<i class="devicon-react-original-wordmark colored"></i>-->
      <!--<i class="devicon-nodejs-plain-wordmark"></i>-->
      <p>PyTorch, TensorFlow, Keras, Android framework, NodeJS, Redis, Docker, Vertica DB, MongoDB, Apache Spark, AWS3, EC2, Django, Rails, Matlab, MLFlow, HuggingFace, Tensorboard etc.</p>
    </div>
</div>
