 <div class="user-details">
  <h1> Contact Me</h1>
  <p><span class="about-email-tip"><span class="uncool-link">Email</span> <b>pratik.deoolwadikar@gmail.com</b></span></br><span class="about-email-tip"><span class="uncool-link">Phone</span> <b>+91-9769118579</b></span></p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <p>Java, JavaScript, Python, C++, C, Assembly, HTML/CSS, C#, PHP & MySQL etc.</p>
    </div>
    <div class="tech">
      <h2>Frameworks & Libraries</h2>
      <img class="about-envs-tf" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original-wordmark.svg" />
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <i class="devicon-react-original colored"></i>
      <i class="devicon-mongodb-plain colored"></i>
      <!--<i class="devicon-react-original-wordmark colored"></i>-->
      <!--<i class="devicon-nodejs-plain-wordmark"></i>-->
      <p>Spring, Node.js, Express.js, React.js, Flask, MongoDB, Cassandra, PostgreSQL, MySQL, HBase, Docker, Kubernetes, Apache Kafka, Hadoop, AWS, GCP etc.</p>
    </div>
</div>
