 <div class="user-details">
  <h1> About </h1>
  <!-- <p> {{site.user_description}} </p> -->
  <p>I love <span class="about-description-highlight">Algorithms</span> and everything that deals with complexity.</p>
  <p>I am currently exploring <span class="about-description-highlight">Machine learning</span> and <span class="about-description-highlight">Android Development</span> as my defining paths. I have worked on countless projects governing ML, Android, Web. I believe in working on my fundamentals, because its better to spend time sharpening the edge than to work with a blunt mind-set.</p>
  <p>Even though I am a <span class="about-description-highlight">Computer Engineer</span>, the deep knowledge offered by MOOCs continue to have a greater impact on my skills.</p>
  <p>When my Dev senses kick-in I build presumably awesome stuff. I stay close to the community and try to keep tabs with the pace at which it is evolving.</p>
  <p><span class="about-email-tip"><span class="uncool-link">Email</span> <b>pratik.deoolwadikar@gmail.com</b></span></br><span class="about-email-tip"><span class="uncool-link">Phone</span> <b>+91-9769118579</b></span></p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-csharp-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p>JAVA, Python, JavaScript, C#, Ruby, HTML/CSS, C, Clojure, C++, PHP & MySQL.</p>
    </div>
    <div class="tech">
      <h2>Frameworks/Envs</h2>
      <img class="about-envs-tf" src="{{ "/assets/img/Tensorflow_logo.svg" | prepend: site.baseurl }}"/>
      <i class="devicon-android-plain-wordmark colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Android, TensorFlow, Nvidia CUDA, Keras, NodeJS, AngularJS, Theano, Deeplearning4j, Rails, React/Redux, Matlab.</p>
    </div>
</div>
